# Master configuration file for the QEMU driver.
# All settings described here are optional - if omitted, sensible
# defaults are used.

security_driver = "{{ libvirt_qemu_security_driver }}"

user = "{{ libvirt_qemu_user }}"

group = "{{ libvirt_qemu_group }}"

dynamic_ownership = {{ libvirt_qemu_dynamic_ownership }}

remember_owner = {{ libvirt_qemu_remember_owner }}

#save_image_format = "raw"
#dump_image_format = "raw"
#snapshot_image_format = "raw"

# When a domain is configured to be auto-dumped when libvirtd receives a
# watchdog event from qemu guest, libvirtd will save dump files in directory
# specified by auto_dump_path. Default value is /var/lib/libvirt/qemu/dump
#
#auto_dump_path = "/opt/local/var/lib/libvirt/qemu/dump"